{% extends 'base.html.twig' %}

{% block title %}Hello index!
{% endblock %}

{% block body %}

	<div class="d-flex flex-column justify-content-center align-items-center ">
		<h2>Créer une tache</h2>
		<form class="w-75">
			<div class="form-group">
				<label for="title" class="form-label mt-4">Titre</label>
				<input type="title" class="form-control" id="title">
				<small id="title_error" class="form-text text-muted">Message d'erreur...</small>
			</div>

			<div class="form-group">
				<label for="description" class="form-label mt-4">Description</label>
				<textarea class="form-control" id="description" rows="3"></textarea>
			</div>

			<div class="form-group">
				<label for="priority" class="form-label mt-4">Priorité</label>
				<select class="form-select" id="priority">
					<option>Haute</option>
					<option>Moyenne</option>
					<option>Basse</option>
					<option>Optionnel</option>
				</select>
			</div>

			<div class="form-group">
				<label for="date">Date d'échéance</label>
				<input type="date" class="form-control" id="date" name="date">
			</div>

			<div class="form-group text-center">
				<button type="submit" class="btn btn-primary my-4">Créer</button>
			</div>
		</form>
	</div>
{% endblock %}
