{% extends 'base.html.twig' %}

{% block title %}Vos projets
{% endblock %}

{% block body %}

	{% if app.user %}

		<div class="container">

			<div class="row justify-content-center align-items-center mb-3">
				<a href="{{ path('project_create') }}" class="btn btn-primary btn-lg w-75 d-flex align-items-center justify-content-center"><ion-icon name="add-outline" class="pt-1"></ion-icon> Créer un nouveau projet</a>
			</div>

			<div class="row text-center my-3">
				<h2>Vos projets</h2>
			</div>
			<div class="row my-3">
				{% for project in projects %}
					<div class="col-md-4 mb-3">
						<div class="card h-100 d-flex flex-column m-3">
							<div class="card-body">
								<h5 class="card-title">{{ project.title }}</h5>
								<p class="card-text">{{ project.description }}</p>
							</div>
							<div class="mt-auto card-footer">
								<small class="text-muted">Crée le
									{{ project.creationDate | date('Y-m-d H:i:s') }}</small>
							</div>
							<a href="#" class="stretched-link text-decoration-none"></a>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	{% endif %}
{% endblock %}
